<aside id="side-menu">
  <div class="nav" id="navbar">
    <nav class="nav__container">
      <div>
        <a href="#" class="nav__link nav__logo">
          <img class="side-menu-img" src="./img/icon-logo.png" />
        </a>

        <div class="nav__list">
          <div class="nav__items">
            <a href="#" class="nav__link active">
              <i class="bi bi-house-door-fill menu"></i>
              <span class="nav__name mt-2">Home</span>
            </a>
            <div class="nav__dropdown">
              <a href="#" class="nav__link">
                <i class="bi bi-person menu-profile"></i>
                <span class="nav__name mt-1">Profile</span>
              </a>

              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a href="#" class="nav__dropdown-item">Accounts</a>
                  <a href="#" class="nav__dropdown-item">Mail</a>
                  <a href="#" class="nav__dropdown-item">Notifications</a>
                </div>
              </div>
            </div>

            <a href="#" class="nav__link">
              <i class="bi bi-folder-plus menu"></i>
              <span class="nav__name mt-2">Create new</span>
            </a>

            <a href="#" class="nav__link">
              <i class="bi bi-archive menu"></i>
              <span class="nav__name mt-2">Inventory</span>
            </a>

            <a href="#" class="nav__link">
              <i class="bi bi-trash menu"></i>
              <span class="nav__name mt-2">Trash</span>
            </a>
          </div>
        </div>
      </div>

      <div class="other-menu">
        <a href="#" class="nav__link">
          <i class="bi bi-gear menu"></i>
          <span class="nav__name mt-2">Settings</span>
        </a>
        <a href="#" class="nav__link nav__logout">
          <i class="bi bi-box-arrow-left menu"></i>
          <span class="nav__name mt-2">Log out</span>
        </a>
      </div>
    </nav>
  </div>
</aside>
